{% extends "netadmin/base.html" %}
{% load staticfiles %}

{% block title %}
    Basic Room
{% endblock title %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'visualization/room.js' %}"></script>
{% endblock script %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'visualization/room.css' %}">
{% endblock stylesheet %}

{% block content %}
    <div class="room" id="container">

    </div>
    <script>
        var room = getRoom($('#container'));
        var desks = [];
        {% for desk in desks %}
            desks.push(createDesk(room, parseFloat({{ desk.x }}), parseFloat({{ desk.y }}), parseInt({{ desk.angle }})));
        {% endfor %}
    </script>
{% endblock content %}