{% extends "netadmin/base.html" %}
{% load staticfiles %}

{% block title %}
    Basic Room
{% endblock title %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'visualization/room.js' %}"></script>
{% endblock script %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'visualization/room.css' %}">
{% endblock stylesheet %}

{% block content %}
    <div class="room" id="container">

    </div>
{% endblock content %}

{% block customjs %}
    <script>
        var room = getRoom($('#container'));
        var desks = {};
        {% for desk in desks %}
            desks['{{ desk.node }}'] = createDesk(room, parseFloat({{ desk.x }}), parseFloat({{ desk.y }}), parseInt({{ desk.angle }}));
        {% endfor %}

        function refresh() {
            $.getJSON('{% url 'visualization:api:nodes' %}', {'format': 'json'}, function(data) {
                for (var i = 0; i < data.length; i++) {
                    var node = data[i];
                    if (node.ip in desks) {
                        desks[node.ip].attr('class', node.connected ? 'desk-ok' : 'desk-failed');
                    }
                }
            });
            setTimeout(refresh, 1000);
        }
        setTimeout(refresh, 1000);
    </script>
{% endblock customjs %}