.zone {
    width: 100%;
    margin: 0 auto;
    background-color: #333;
}

.desk.ok.success,
.desk.ok.connected {
    fill: #00aa00;
    stroke: #c0ffc0;
}

.desk.ok.aborted {
    fill: #895512;
    stroke: #a58a42;
}

.desk.ok.pending {
    fill: #455a64;
    stroke: #a9daf2;
}

.desk.ok.running {
    fill: #ff9900;
    stroke: #ffffff;
}

.desk.ok.failed {
    fill: #ff0000;
    stroke: #ffa0a0;
}

.desk.failed {
    fill: #333333;
    stroke :#999999;
}

.desk.unknown {
    fill: #ff9900;
    stroke: #ffffff;
}

.desk:hover {
    stroke: #fff;
    stroke-width: 2px;
}

.desk.selected {
    stroke: #fff !important;
    stroke-width: 2px;
}