<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Contestant</span>
        <span class="md-subhead">
            <code>
                Name:
                {{ contestant.name }}
            </code>
        </span>
        <span class="md-subhead">
            <code>
                Country:
                {{ contestant.team_code }}
            </code>
        </span>
        <span class="md-subhead">
            <code>
                Number:
                {{ contestant.number }}
            </code>
        </span>
        </md-card-title-text>
    </md-card-title>
</md-card>