<div layout="row" layout-fill>
    <div flex id="zones_wrapper" class="flex-60" layout="column">
        <md-card ng-repeat="zone in zones">
            <div class="zone" id="container-{{ zone.id }}">

            </div>
            <md-card-actions layout="row" layout-align="end center">
                {{ zone.name | uppercase }}
            </md-card-actions>
        </md-card>
    </div>
    <div flex class="flex-30" id="details">
        <div ng-show="select.desk">
            <md-card ng-show="select.desk">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Desk Information</span>
                        <div layout="row" >
                            <div flex layout="column">
                                <span class="md-subhead">
                                    <code>
                                        Zone: {{ select.desk.zone }}
                                    </code>
                                </span>
                                <span class="md-subhead">
                                    <code>
                                        Number: {{ select.desk.number }}
                                    </code>
                                </span>
                            </div>
                            <div layout-align="end center">
                                <md-button class="md-fab md-mini" aria-label="Create Task"
                                           ng-click="showTaskCreateForDesk($event)">
                                    <md-icon aria-label="Create"
                                             class="material-icons step">add
                                    </md-icon>
                                </md-button>
                            </div>
                        </div>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <node-info node="select.node">
            </node-info>
            <contestant-info contestant="select.contestant">
            </contestant-info>
        </div>
        <md-card ng-show="select.desk == null">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Click on desks</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
</div>
