<md-card>
    <div class="room" id="container">

    </div>
    <md-card-actions layout="row" layout-align="end center">
        IOI 2017 - Room 1
    </md-card-actions>
</md-card>

<script>
    var init = function() {
        var room = getRoom($('#container'));
        var desks = {};
        {% for desk in desks %}
            desks['{{ desk.node }}'] = createDesk(room, parseFloat({{ desk.x }}), parseFloat({{ desk.y }}), parseInt({{ desk.angle }}));
        {% endfor %}

        function refresh() {
            $.getJSON('{% url 'visualization:api:node-list' %}', {'format': 'json'}, function(data) {
                for (var i = 0; i < data.length; i++) {
                    var node = data[i];
                    if (node.ip in desks) {
                        desks[node.ip].attr('class', node.connected ? 'desk-ok' : 'desk-failed');
                    }
                }
            });
            setTimeout(refresh, 1000);
        }
        refresh();
    };
    setTimeout(init, 1000);
</script>