<md-dialog aria-label="Create Task Template" class="flex-60">
    <form ng-cloak ng-submit="create()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{ edit_mode? 'Edit':'Create' }} Template</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <div flex>
                        <div layout="row" layout-align="space-between center">
                            <md-input-container flex>
                                <label>Template Name</label>
                                <input ng-model="template_name" required>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <md-checkbox name="tos" ng-model="is_local">
                                    Local Task
                                </md-checkbox>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <md-input-container flex>
                                <label>SSH Username</label>
                                <input ng-model="username">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Timeout</label>
                                <input ng-model="timeout" type="number" step="any" min="0" required>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label>Template Code</label>
                            <textarea required id="template-text-area" ng-model="template_code" rows="5"
                                      md-select-on-focus></textarea>
                        </md-input-container>
                        <p>

                        <h3> Rendered Code:</h3></p>
                    <span>
                    <pre>{{ rendered_code }}</pre>
                        </span>
                    </div>
                    <md-table-container>
                        <table md-table ng-model="selected" md-progress="promise">
                            <thead md-head>
                            <tr md-row>
                                <th md-column>Variable</th>
                                <th md-column>Value</th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr class="na-tr" md-row ng-repeat="var_help in var_helps">
                                <td md-cell><code>{{ var_help.template }}</code></td>
                                <td md-cell><code>{{ var_help.rendered }}</code></td>
                            </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()">
                Cancel
            </md-button>
            <md-button type="submit">
                {{ edit_mode? 'Save':'Create' }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>