<md-dialog aria-label="Create TaskRunSet" class="flex-75">
    <form ng-cloak name="taskCreationForm" ng-submit="create()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create TaskRunSet</h2>
                <md-input-container flex-gt-sm>
                    <label>TaskRunSet Name</label>
                    <input required ng-model="run_set_name" name="run_set_name">

                    <div ng-messages="taskCreationForm.run_set_name.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Task Code">
                        <div layout="row">
                            <div flex>
                                <md-autocomplete
                                        id="Auto"
                                        md-selected-item="selectedTemplateItem"
                                        md-search-text="searchTemplateText"
                                        md-no-cache="true"
                                        md-selected-item-change="selectedTemplateItemChange(item)"
                                        md-items="item in queryTemplateSearch(searchTemplateText)"
                                        md-item-text="item.display"
                                        md-min-length="0"
                                        placeholder="Select Task Template">
                                    <md-item-template>
                                <span md-highlight-text="searchTemplateText"
                                      md-highlight-flags="^i">{{ item.display }}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No templates matching "{{ searchTemplateText }}" were found.
                                        <md-button class="md-raised md-accent" aria-label="Add"
                                                   ng-click="createTaskTemplate(searchTemplateText)">
                                            Create Task Template
                                        </md-button>
                                    </md-not-found>
                                </md-autocomplete>
                                <div layout="row" layout-align="space-between center">
                                    <md-input-container class="md-block">
                                        <md-checkbox name="tos" ng-model="is_local">
                                            Local Task
                                        </md-checkbox>
                                    </md-input-container>
                                    <div flex></div>
                                </div>
                                <div layout="row" layout-align="space-between center">
                                    <md-input-container flex>
                                        <label>SSH Username</label>
                                        <input ng-model="username">
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Timeout</label>
                                        <input ng-model="timeout" type="number" step="any" min="0" required>
                                    </md-input-container>
                                </div>
                                <md-input-container class="md-block">
                                    <label>Template Code</label>
                                    <textarea required id="template-text-area" ng-model="template_code"
                                              name="template_code" rows="5"
                                              md-select-on-focus></textarea>

                                    <div ng-messages="taskCreationForm.template_code.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                                <p>

                                <h3> Rendered Code:</h3></p>
                    <span>
                    <pre>{{ rendered_code }}</pre>
                        </span>
                            </div>
                            <md-table-container>
                                <table md-table md-progress="promise">
                                    <thead md-head>
                                    <tr md-row>
                                        <th md-column>Variable</th>
                                        <th md-column>Value</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr class="na-tr" md-row ng-repeat="var_help in var_helps">
                                        <td md-cell><code>{{ var_help.template }}</code></td>
                                        <td md-cell><code>{{ var_help.rendered }}</code></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </div>
                    </md-tab>

                    <md-tab label="Nodes ({{ selected_ips.length }})">
                        <div layout="row">
                            <md-table-container class="flex-80">
                                <table md-table md-row-select multiple ng-model="selected_ips" md-progress="promise">
                                    <thead md-head>
                                    <tr md-row>
                                        <th md-column>IP</th>
                                        <th md-column>Mac</th>
                                        <th md-column>Connected</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr class="na-tr" md-row md-select="node" md-select-id="ip" md-on-select="boz"
                                        ng-repeat="node in all_filters[nodes_filter]">
                                        <td md-cell><code>{{ node.ip }}</code></td>
                                        <td md-cell><code>{{ node.mac_address }}</code></td>
                                        <td md-cell>{{ node.connected }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>

                            <md-input-container class="md-block">
                                <md-radio-group ng-model="nodes_filter">

                                    <md-radio-button ng-repeat="name in filter_names"
                                                     value="{{ name }}">{{ name }}</md-radio-button>

                                </md-radio-group>
                            </md-input-container>
                        </div>
                    </md-tab>
                </md-tabs>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span md-colors="{color:'default-warn'}">{{ error_message }}</span>
            <span flex></span>
            <md-button ng-click="hide()">
                Cancel
            </md-button>
            <div>
                <md-button type="submit" ng-disabled="selected_ips.length<1">
                    Create
                </md-button>
                <md-tooltip ng-show="selected_ips.length<1"
                            md-direction="top">
                    Select nodes first
                </md-tooltip>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>