<div layout="row">
    <div flex id="taskrunsets" layout="column">
        <div id="task_filter" layout="row">
            <md-input-container flex-gt-sm>
                <label>Owner</label>
                <md-select ng-model="params.contestant">
                    <md-option value="">All owners</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex-gt-sm>
                <label>Status</label>
                <md-select ng-model="params.status">
                    <md-option value="ALL">All</md-option>
                    <md-option value="SUCCESS">Success</md-option>
                    <md-option value="PENDING">Pending</md-option>
                    <md-option value="PROGRESS">Progress</md-option>
                    <md-option value="FAILURE">Failure</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex-gt-sm>
                <label>TaskRunSet ID</label>
                <input ng-model="params.run_set" placeholder="TaskRunSet ID"
                       ng-model-options="{updateOn: 'blur'}">
            </md-input-container>
        </div>
        <div class="md-toolbar-tools">
            <span>{{ selected.length }} {{ selected.length > 1 ? 'Task Runs' : 'Task Run'}} selected</span>
            <md-button class="md-fab md-mini" aria-label="Create TaskRunSet"
                       ng-click="showTaskRunSetCreate($event)">
                <md-icon aria-label="Create"
                         class="material-icons step">add
                </md-icon>
            </md-button>
            <!--            <md-button class="md-fab md-mini" aria-label="Select All Taskruns"
                                   ng-click="selectAllRuns()">
                            <md-icon aria-label="Select All"
                                     class="material-icons step">select_all
                            </md-icon>
                        </md-button>
            -->
        </div>
        <mdt-table selectable-rows="true" selected-row-callback="selectedRowCallback(rows)">
            <mdt-header-row>
                <mdt-column align-rule="left" column-definition="IP"><span> Code</span></mdt-column>
                <mdt-column align-rule="right" column-definition="Status of the single task run"><span>Is Local</span>
                </mdt-column>
                <mdt-column align-rule="right" column-definition="Status of the single task run"><span>Status</span>
                </mdt-column>
                <mdt-column align-rule="left" column-definition="IP"><span> IP</span></mdt-column>
                <mdt-column align-rule="left" column-definition="IP"><span> Created at</span></mdt-column>
                <mdt-column align-rule="left" column-definition="IP"><span> Actions</span></mdt-column>
            </mdt-header-row>
            <mdt-row ng-repeat="result in results" table-row-id="result.id">
                <mdt-cell><code>{{ result.rendered_code }}</code></mdt-cell>
                <mdt-cell><span>
                    <md-icon aria-label="backup"
                             class="material-icons step">{{ result.is_local ? 'done' : 'clear'}}
                    </md-icon>
                    </span>
                </mdt-cell>
                <mdt-cell><span>
                    <button class="md-fab md-mini md-button md-ink-ripple" type="button" aria-label="Stop">
                        <md-icon aria-label="backup"
                                 class="material-icons step">{{ status_icon_map[result.status] }}
                        </md-icon>

                    </button>
                        </span></mdt-cell>
                <mdt-cell><code>{{ result.node.ip }}</code></mdt-cell>
                <mdt-cell><span>{{ result.created_at | date:'M/d/y, HH:mm:ss' }}</span></mdt-cell>
                <mdt-cell><span>
                    <button class="md-fab md-mini md-button md-ink-ripple" type="button" aria-label="Stop"
                            ng-click="changeHovered(result)">
                        <md-icon aria-label="backup"
                                 class="material-icons step">visibility
                        </md-icon>
                    </button>
                    <button class="md-fab md-mini md-button md-ink-ripple" type="button" aria-label="Stop"
                            ng-click="stopTaskrun(result)">
                        <md-icon aria-label="backup"
                                 class="material-icons step">clear
                        </md-icon>
                    </button>
                    </span>


                </mdt-cell>
            </mdt-row>
        </mdt-table>

        <br>

        <div layout="row" ng-show="pagination.previous_url || pagination.next_url">
            <md-button ng-disabled="!pagination.previous_url"
                       aria-label="previous"
                       class="md-icon-button md-raised"
                       ng-click="prevPage()"
                       aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </md-button>
            <md-button ng-repeat="page in pagination.page_links"
                       aria-label="page_number"
                       ng-disabled="page[3]"
                       class="md-icon-button"
                       ng-class="{'md-accent md-raised':page[2]==true}"
                       ng-click="setPage(page[1])">
                <span ng-if="page[3]" aria-hidden="true">&hellip;</span>
                <span ng-if="!page[3]">{{ page[1] }}</span>
            </md-button>
            <md-button ng-disabled="!pagination.next_url"
                       aria-label="next"
                       class="md-icon-button md-raised"
                       ng-click="nextPage()"
                       aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </md-button>
        </div>
    </div>
    <div flex class="flex-35" id="details">
        <div ng-if="hovered">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Result</span>
                    <span class="md-subhead">
                        <code>
                            Rendered Code: <br/>
                            {{ hovered.rendered_code }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            Return Code: <br/>
                            {{ hovered.return_code }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            stdout: <br/>
                            {{ hovered.stdout }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            stderr: <br/>
                            {{ hovered.stderr }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            Started at:
                            {{ hovered.started_at }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            Finished at:
                            {{ hovered.finished_at }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            Duration:
                            {{ hovered.duration_milliseconds }}ms
                        </code>
                    </span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <node-info node="hovered.node">
            </node-info>
            <contestant-info contestant="hovered.contestant">
            </contestant-info>
        </div>
        <div ng-if="hovered == null">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Click on <md-button class="md-fab md-mini"
                                                                      aria-label="help_details">
                            <md-icon aria-label="backup"
                                     class="material-icons step">visibility
                            </md-icon>
                        </md-button> to see task details</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>
</div>