<div layout="row">
    <div flex id="taskrunsets" class="flex-65">
        <div id="task_filter" layout="row">
            <md-input-container flex-gt-sm>
                <label>Owner</label>
                <md-select ng-model="params.contestant">
                    <md-option value="">All owners</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex-gt-sm>
                <label>Status</label>
                <md-select ng-model="params.status">
                    <md-option value="ALL">All</md-option>
                    <md-option value="SUCCESS">Success</md-option>
                    <md-option value="PENDING">Pending</md-option>
                    <md-option value="RUNNING">Running</md-option>
                    <md-option value="FAILED">Failed</md-option>
                    <md-option value="ABORTED">Aborted</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex-gt-sm>
                <label>TaskRunSet ID</label>
                <input ng-model="params.run_set" placeholder="TaskRunSet ID"
                       ng-model-options="{updateOn: 'blur'}">
            </md-input-container>
        </div>
        <div class="md-toolbar-tools">
            <span>{{ selected.length }} {{ selected.length > 1 ? 'Task Runs' : 'Task Run'}} selected</span>
            <md-button class="md-fab md-mini" aria-label="Create TaskRunSet"
                       ng-click="showTaskRunSetCreate($event)">
                <md-icon aria-label="Create"
                         class="material-icons step">add
                </md-icon>
            </md-button>
<!--            <md-button class="md-fab md-mini" aria-label="Select All Taskruns"
                       ng-click="selectAllRuns()">
                <md-icon aria-label="Select All"
                         class="material-icons step">select_all
                </md-icon>
            </md-button>
-->
        </div>
        <md-table-container>
            <table md-table md-row-select="true" multiple ng-model="selected" md-progress="promise">
                <thead md-head>
                <tr md-row>
                    <th md-column>Rendered Code</th>
                    <th md-column>Is Local?</th>
                    <th md-column>Status</th>
                    <th md-column>IP</th>
                    <th md-column>Created at</th>
                    <th md-column>Actions</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr class="na-tr" md-row md-select="result" md-select-id="id" ng-repeat="result in results track by result.id">
                    <td md-cell><code>{{ ::result.trimmed_code }}</code></td>
                    <td md-cell>
                        <md-icon aria-label="backup"
                                 class="material-icons step">{{ ::result.is_local_icon }}
                        </md-icon>
                    </td>
                    <td md-cell>
                        <md-button class="md-fab md-mini" md-colors="::{backgroundColor: 'blueGrey-700'}"
                                   ng-if="result.status=='PENDING'">
                            <md-icon class="material-icons step">schedule</md-icon>
                            <md-tooltip
                                    md-direction="left">
                                Pending
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-fab md-mini" md-colors="::{backgroundColor: 'yellow-700'}"
                                   ng-if="result.status=='RUNNING'">
                            <md-icon class="material-icons step">sync</md-icon>
                            <md-tooltip
                                    md-direction="left">
                                Running
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-fab md-mini" md-colors="::{backgroundColor: 'green-700'}"
                                   ng-if="result.status=='SUCCESS'">
                            <md-icon class="material-icons step">done</md-icon>
                            <md-tooltip
                                    md-direction="left">
                                Successful
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-fab md-mini" md-colors="::{backgroundColor: 'brown-700'}"
                                   ng-if="result.status=='ABORTED'">
                            <md-icon class="material-icons step">pan_tool</md-icon>
                            <md-tooltip
                                    md-direction="left">
                                Aborted
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-fab md-mini" md-colors="::{backgroundColor: 'red-700'}"
                                   ng-if="result.status=='FAILED'">
                            <md-icon class="material-icons step">clear</md-icon>
                            <md-tooltip
                                    md-direction="left">
                                Internal Error
                            </md-tooltip>
                        </md-button>
                    </td>
                    <td md-cell><code>{{ ::result.node.ip }}</code></td>
                    <td md-cell><span am-time-ago="result.created_at"></span></td>
                    <td md-cell layout="row">
                        <md-button class="md-fab md-mini" aria-label="Stop" ng-click="changeHovered(result)">
                            <md-icon aria-label="backup"
                                     class="material-icons step">visibility
                            </md-icon>
                        </md-button>
                        <md-button class="md-fab md-mini" aria-label="Stop" ng-click="stopTaskrun(result)">
                            <md-icon aria-label="backup"
                                     class="material-icons step">pause
                            </md-icon>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <br>
        <div layout="row" ng-show="pagination.previous_url || pagination.next_url">
            <md-button ng-disabled="!pagination.previous_url"
                       aria-label="previous"
                       class="md-icon-button md-raised"
                       ng-click="prevPage()"
                       aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </md-button>
            <md-button ng-repeat="page in pagination.page_links"
                       aria-label="page_number"
                       ng-disabled="page[3]"
                       class="md-icon-button"
                       ng-class="{'md-accent md-raised':page[2]==true}"
                       ng-click="setPage(page[1])">
                <span ng-if="page[3]" aria-hidden="true">&hellip;</span>
                <span ng-if="!page[3]">{{ page[1] }}</span>
            </md-button>
            <md-button ng-disabled="!pagination.next_url"
                       aria-label="next"
                       class="md-icon-button md-raised"
                       ng-click="nextPage()"
                       aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </md-button>
        </div>
    </div>
    <div flex class="flex-35" id="details">
        <div ng-if="hovered">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Result</span>
                    <span class="md-subhead">
                        <code>
                            Rendered Code: <br/>
                            {{ hovered.rendered_code }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            Return Code: <br/>
                            {{ hovered.return_code }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            stdout: <br/>
                            {{ hovered.stdout }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            stderr: <br/>
                            {{ hovered.stderr }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            Started at:
                            {{ hovered.started_at }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            Finished at:
                            {{ hovered.finished_at }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            Duration:
                            {{ hovered.duration_milliseconds }}ms
                        </code>
                    </span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <node-info node="hovered.node">
            </node-info>
            <contestant-info contestant="hovered.contestant">
            </contestant-info>
        </div>
        <div ng-if="hovered == null">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Click on <md-button class="md-fab md-mini"
                                                                      aria-label="help_details">
                            <md-icon aria-label="backup"
                                     class="material-icons step">visibility
                            </md-icon>
                        </md-button> to see task details</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>
</div>