<div layout="row">
    <div flex id="tasks" class="flex-60">
        <div id="task_filter" layout="row">
            <md-input-container flex-gt-sm>
                <label>Status</label>
                <md-select ng-model="filters.status" ng-change="filter('status')">
                    <md-option value="ALL">All</md-option>
                    <md-option value="SUCCESS">Success</md-option>
                    <md-option value="PENDING">Pending</md-option>
                    <md-option value="RUNNING">Running</md-option>
                    <md-option value="FAILED">Failed</md-option>
                    <md-option value="ABORTED">Aborted</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex-gt-sm>
                <label>Task ID</label>
                <input ng-model="filters.task" ng-blur="filter('task')" placeholder="Task ID">
            </md-input-container>
        </div>
        <div class="md-toolbar-tools">
            <span>{{ selected.length }} {{ selected.length > 1 ? 'Task Runs' : 'Task Run'}} selected</span>
            <md-button class="md-fab md-mini" aria-label="Create Task"
                       ng-click="showTaskCreate($event)">
                <md-icon aria-label="Create"
                         class="material-icons step">add
                </md-icon>
            </md-button>
        </div>
        <md-table-container>
            <table md-table md-row-select="true" multiple ng-model="selected" md-progress="promise">
                <thead md-head>
                <tr md-row>
                    <th md-column>Task</th>
                    <th md-column>Status</th>
                    <th md-column>IP</th>
                    <th md-column>Created at</th>
                    <th md-column>Actions</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr class="na-tr" md-row md-select="result" md-select-id="id" ng-repeat="result in results track by result.id">
                    <td md-cell><code>{{ result.task_name }} {{ result.is_local ? '[Local]' : '[Remote]' }}</code></td>
                    <td md-cell>
                            <md-icon ng-click="changeHovered($event,result)" md-colors="::{backgroundColor: '{{ result.status_color }}-700'}" class="material-icons step circle-button">{{ result.icon }}</md-icon>
                    </td>
                    <td md-cell><code>{{ result.node.ip }}</code></td>
                    <td md-cell><span am-time-ago="result.created_at"></span></td>
                    <td md-cell>
                            <md-icon ng-click="stopTaskrun(result)"
                                     class="material-icons step circle-button" md-colors="::{backgroundColor: 'green-700'}">pause
                            </md-icon>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
    <div flex class="flex-30" id="details">
        <div ng-if="hovered">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Result</span>
                    <span class="md-subhead">
                        <code>
                            Rendered Code: <br/>
                            {{ hovered.rendered_code }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            Return Code: <br/>
                            {{ hovered.return_code }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            stdout: <br/>
                            {{ hovered.stdout }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            stderr: <br/>
                            {{ hovered.stderr }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            Started at:
                            {{ hovered.started_at }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            Finished at:
                            {{ hovered.finished_at }}
                        </code>
                    </span>
                    <span class="md-subhead">
                        <code>
                            Duration:
                            {{ hovered.duration_milliseconds }}ms
                        </code>
                    </span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <node-info node="hovered.node">
            </node-info>
            <contestant-info contestant="hovered.contestant">
            </contestant-info>
        </div>
        <div ng-if="hovered == null">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Click on task status to see task details</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>
</div>