<div id="task_filter">
    <md-input-container>
        <label>State</label>
        <md-select ng-change="filter('state')" ng-model="filters.state">
            <md-option value="ALL">All</md-option>
            <md-option value="SUCCESS">Success</md-option>
            <md-option value="FINISHED">Finished</md-option>
            <md-option value="PENDING">Pending</md-option>
            <md-option value="RUNNING">Running</md-option>
            <md-option value="ABORTED">Aborted</md-option>
            <md-option value="FAILED">Failed</md-option>
        </md-select>
    </md-input-container>
</div>
<div id="tasks">
    <div class="md-toolbar-tools">
        <span>{{ selected.length }} {{ selected.length > 1 ? 'Tasks' : 'Task'}} selected</span>

        <md-button class="md-fab md-mini" aria-label="Delete" md-colors="::{backgroundColor: 'red-700'}"
                   ng-click="deleteSelected($event)" ng-disabled="selected.length<1">
            <md-icon aria-label="backup"
                     class="material-icons step">delete
            </md-icon>
        </md-button>

        <md-button class="md-fab md-mini" aria-label="Create Task"
                   ng-click="showTaskCreate($event)">
            <md-icon aria-label="Create"
                     class="material-icons step">add
            </md-icon>
        </md-button>
    </div>
    <md-table-container>
        <table md-table md-row-select="true" multiple ng-model="selected" md-progress="promise">
            <thead md-head>
            <tr md-row>
                <th md-column>Task</th>
                <th md-column>Owner</th>
                <th md-column>Created at</th>
                <th md-column>Summary</th>
                <th md-column>Actions</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr class="na-tr" md-row md-select="result" md-select-id="id" ng-repeat="result in results track by result.id">
                <td md-cell>{{ ::result.name }}</td>
                <td md-cell>{{ ::result.owner_data }}</td>
                <td md-cell><span am-time-ago="result.created_at"></span></td>
                <td md-cell>
                    <md-button class="md-fab md-mini" md-colors="::{backgroundColor: 'blueGrey-700'}"
                               ui-sref="na.taskruns({task:{{ ::result.id }}, status:'PENDING'})">
                        {{ result.summary.PENDING }}
                        <md-tooltip
                                md-direction="left">
                            Pending
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-mini" md-colors="::{backgroundColor: 'yellow-700'}"
                               ui-sref="na.taskruns({task:{{ ::result.id }}, status:'RUNNING'})">
                        {{ result.summary.RUNNING }}
                        <md-tooltip
                                md-direction="top">
                            Running
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-mini" md-colors="::{backgroundColor: 'green-700'}"
                               ui-sref="na.taskruns({task:{{ ::result.id }}, status:'SUCCESS'})">
                        {{ result.summary.SUCCESS }}
                        <md-tooltip
                                md-direction="top">
                            Successful
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-mini" md-colors="::{backgroundColor: 'red-700'}"
                               ui-sref="na.taskruns({task:{{ ::result.id }}, status:'FAILED'})">
                        {{ result.summary.FAILED }}
                        <md-tooltip
                                md-direction="top">
                            Failed
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-mini" md-colors="::{backgroundColor: 'brown-700'}"
                               ui-sref="na.taskruns({task:{{ ::result.id }}, status:'ABORTED'})">
                        {{ result.summary.ABORTED }}
                        <md-tooltip
                                md-direction="right">
                            Aborted
                        </md-tooltip>
                    </md-button>
                </td>
                <td md-cell layout="row">
                    <md-button class="md-fab md-mini" aria-label="Replay"  ng-click="cloneTask(result)">
                        <md-icon aria-label="refresh"
                                 class="material-icons step">refresh
                        </md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini" aria-label="Stop" ng-click="stopTask(result)">
                        <md-icon aria-label="pause"
                                 class="material-icons step">pause
                        </md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini" aria-label="More"
                               ui-sref="na.taskruns({task:{{ ::result.id }}})">
                        <md-icon aria-label="backup"
                                 class="material-icons step">more_horiz
                        </md-icon>
                    </md-button>

                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <br>
    <div layout="row" ng-show="pagination.previous_url || pagination.next_url">
        <md-button ng-disabled="!pagination.previous_url"
                   aria-label="previous"
                   class="md-icon-button md-raised"
                   ng-click="prevPage()"
                   aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </md-button>
        <md-button ng-repeat="page in pagination.page_links"
                   aria-label="page_number"
                   ng-disabled="page[3]"
                   class="md-icon-button"
                   ng-class="{'md-accent md-raised':page[2]==true}"
                   ng-click="setPage(page[1])">
            <span ng-if="page[3]" aria-hidden="true">&hellip;</span>
            <span ng-if="!page[3]">{{ page[1] }}</span>
        </md-button>
        <md-button ng-disabled="!pagination.next_url"
                   aria-label="next"
                   class="md-icon-button md-raised"
                   ng-click="nextPage()"
                   aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </md-button>
    </div>
</div>