[ng-cloak] {
    display: none;
}

md-sidenav .nav-header {
    text-align: center;
    border-bottom: 1px solid #333;
}

.logo {
    font-weight: 300;
}

.contest-logo {
    width: 75%;
}

.contest-title {
    margin-top: 10px;
}

md-toolbar {
    margin-bottom: 30px;
}

md-content#main {
    margin: 20px;
}

table.md-table th.md-column {
    font-size:14px;
}

table.md-table th.md-column {
    color: inherit !important;
}

table.md-table td.md-cell {
    color: inherit !important;
}

table.md-table.md-row-select tbody.md-body>tr.na-tr.md-row.md-selected {
    background-color: inherit !important;
}

table.md-table.md-row-select tbody.md-body>tr.na-tr.md-row:not([disabled]):hover {
    background-color: inherit !important;
}

.mdtTableContainer table {
    color: inherit !important;
    background-color: inherit !important;
}

.mdtTableContainer tr td {
    color: inherit !important;
    background-color: inherit !important;
}

.mdtTableContainer tr:hover td {
    color: yellow !important;
    background-color: inherit !important;
}

.md-virtual-repeat-container {
    height: 400px;
}