{% extends "netadmin/skeleton.html" %}
{% load staticfiles %}

{% block meta %}
    {{ block.super }}
    <base href="/">
    <link rel="icon" href="{% static 'images/ioi-icon.png' %}">
{% endblock meta %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'bower_components/angular-material/angular-material.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'bower_components/angular-material-data-table/dist/md-data-table.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/netadmin.css' %}">
    <link rel="stylesheet" href="{% static 'css/room.css' %}">
{% endblock stylesheet %}

{% block javascript %}
    {% block jsinclude %}
        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bower_components/raphael/raphael.min.js' %}"></script>
        <script src="{% static 'bower_components/angular/angular.js' %}"></script>
        <script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>
        <script src="{% static 'bower_components/angular-animate/angular-animate.js' %}"></script>
        <script src="{% static 'bower_components/angular-aria/angular-aria.js' %}"></script>
        <script src="{% static 'bower_components/angular-messages/angular-messages.js' %}"></script>
        <script src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
        <script src="{% static 'bower_components/angular-material/angular-material.js' %}"></script>
        <script src="{% static 'bower_components/angular-material-data-table/dist/md-data-table.min.js' %}"></script>
        <script src="{% static 'bower_components/papaparse/papaparse.min.js' %}"></script>
        <script src="{% static 'bower_components/moment/moment.js' %}"></script>
        <script src="{% static 'bower_components/angular-moment/angular-moment.min.js' %}"></script>
    {% endblock jsinclude %}

    {% block script %}
        <script>
            STATIC_URL = '/static/';
            var _static = function (path) {
                return STATIC_URL + path;
            };
        </script>

        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/router.js' %}"></script>
        <script src="{% static 'js/layout.js' %}"></script>
        <script src="{% static 'js/api.js' %}"></script>

        <script src="{% static 'js/monitor.js' %}"></script>
        <script src="{% static 'js/node-info.js' %}"></script>
        <script src="{% static 'js/contestant-info.js' %}"></script>

        <script src="{% static 'js/taskrunsets.js' %}"></script>
        <script src="{% static 'js/taskruns.js' %}"></script>
        <script src="{% static 'js/tasks.js' %}"></script>
        <script src="{% static 'js/create-taskrunset.js' %}"></script>
        <script src="{% static 'js/nodegroups.js' %}"></script>
        <script src="{% static 'js/node-import.js' %}"></script>

        <script src="{% static 'js/services.js' %}"></script>
    {% endblock script %}
{% endblock javascript %}


{% block bodydirectives %}ng-app="NetAdmin" ng-cloack{% endblock bodydirectives %}

{% block body %}
    {% csrf_token %}
    <!--a ui-sref="na.taskruns">taskruns</a-->
    <section layout-fill layout="row" flex>
        <div ui-view="sidebar"></div>

        <div layout="column" tabindex="-1" role="main" flex>
            <div ui-view="header"></div>

            <md-content id="main" md-scroll-y layout="column" flex>
                <div ui-view="content"></div>
            </md-content>
        </div>
    </section>
{% endblock body %}