{% extends "netadmin/skeleton.html" %}
{% load staticfiles %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="{% static 'css/angular-material.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/netadmin.css' %}">
{% endblock stylesheet %}

{% block javascript %}
    {% block jsinclude %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/raphael.min.js' %}"></script>
        <script src="{% static 'js/angular.min.js' %}"></script>
        <script src="{% static 'js/angular-animate.min.js' %}"></script>
        <script src="{% static 'js/angular-aria.min.js' %}"></script>
        <script src="{% static 'js/angular-messages.min.js' %}"></script>
        <script src="{% static 'js/angular-resource.min.js' %}"></script>
        <script src="{% static 'js/angular-material.min.js' %}"></script>
    {% endblock jsinclude %}

    {% block script %}
        <script>
            STATIC_URL = '/static/';
            var _static = function (path) {
                return STATIC_URL + path;
            };
        </script>

        <script src="{% static 'js/app.js' %}"></script>
    {% endblock script %}
{% endblock javascript %}


{% block bodydirectives %}ng-app="NetAdmin" ng-cloack{% endblock bodydirectives %}

{% block body %}
    <section layout-fill layout="row" flex>
        <side-bar></side-bar>

        <div layout="column" tabindex="-1" role="main" flex>
            <head-bar></head-bar>

            <md-content id="main" md-scroll-y layout="column" flex>
                {% block content %}
                {% endblock content %}
            </md-content>
        </div>
    </section>
{% endblock body %}