{% load i18n %}
{% load staticfiles %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>Site Admin</title>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="An awesome site administration system for programming contests.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    {% endblock meta %}
    {% block stylesheet %}
    {% endblock stylesheet %}
    {% block javascript %}
    {% endblock javascript %}
</head>
<body {% block bodydirectives %}{% endblock bodydirectives %}>
    {% block body %}
    {% endblock body %}
</body>
</html>