<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Render preview</title>

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<h1>Create Task</h1>
<div style="width: 600px;">
    <h3>Help:</h3>
    <table class="table table-striped">
        <tr>
            <th>Variable</th>
            <th>Value</th>
        </tr>
        {% for row in help_table %}
            <tr>
                <td><code>{{ row.0 }}</code></td>
                <td><code>{{ row.1 }}</code></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <form action="/tasks" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
        <fieldset>
            {% csrf_token %}
            <div class="form-group ">
                <label class="col-sm-2 control-label ">
                    Name
                </label>
                <div class="col-sm-10">
                    <input name="name" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label ">
                    Author
                </label>
                <div class="col-sm-10">
                    <select class="form-control" name="author">
                        <option value="1">admin</option>
                    </select>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-2 control-label ">
                    Code
                </label>
                <div class="col-sm-10">
                    <textarea name="code" id="template_code" onchange="update_render()" onkeyup="update_render()" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-2 control-label ">
                    Rendered Code
                </label>
                <div class="col-sm-10">
                    <pre id="rendered_code"></pre>
                </div>
            </div>
            <div class="form-group horizontal-checkbox ">
                <label class="col-sm-2 control-label ">
                    Is local
                </label>
                <div class="col-sm-10">
                    <input type="checkbox" name="is_local" value="true">
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary" title="Make a POST request on the Task resource">POST</button>
            </div>
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    function update_render() {
        var code = document.getElementById('template_code').value;
        $.get(
                "code_render",
                {code: code},
                function (data) {
                    document.getElementById('rendered_code').innerHTML = data;
                }
        );
    }
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>