.room {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    background-color: #333;
}

.desk-ok {
    fill: #00aa00;
    stroke: #c0ffc0;
}

.desk-ok:hover,
.desk-failed:hover {
    stroke: #fff;
    stroke-width: 2px;
}

.desk-failed {
    fill: #ff0000;
    stroke: #ffa0a0;
}